#bg {
  background-image: linear-gradient(
      to right,
      rgba(119, 238, 149, 0.3),
      rgba(83, 177, 107, 0.3),
      rgba(42, 144, 68, 0.3)
    ),
    url(./bg.jpg);
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
